/* Reset */
body {
   font-family: "Playwrite AU VIC Guides", serif;
   font-weight: 400;
   font-style: normal;
   padding: 0;
   margin: 0;
   background-color: rgb(235, 235, 235);
}


/* Main */
main {
   padding: 1rem;

}

/* Header */
header {
   padding: 1rem;
   text-align: center;
}

/* Cards */
img {
   height: auto;
   width: 30rem;
   object-fit: cover;
   border: 0.2rem solid black;
   box-shadow: 10px 5px 5px rgb(180, 178, 178);
   /* Reduce max height of all the images to match the shortest image. */
   max-height: 284.04px;
   transition: all 1s ease;
}

img:hover {
   transform: scale(1.05);
   box-shadow: 10px 5px 5px rgb(148, 146, 146);
}

img:active {

   box-shadow: 10px 5px 5px rgb(192, 21, 58);
   transform: rotate(10deg);

}

.card-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.5rem 1.5rem;
}

.card {
   padding: 2rem;
   justify-items: center;
   position: relative;
}

.card::before {
   content: "";
   background-color: red;
   height: 1rem;
   width: 10rem;
   position: absolute;
   top: 5px;
}

.card:hover {
   box-shadow: 10px 5px 5px rgb(180, 178, 178);
   transform: translateY(-0.5rem) scale(1.1);
   transition: box-shadow 0.3s, transform 0.3s;
}


/* Buttons */
button {
   background-color: red;
   border-color: red;
   border-radius: 5rem;
   padding: 1rem 2rem;
   color: white;
}

button:hover {
   background-color: rgb(200, 4, 4);
   border-color: rgb(200, 4, 4);
   cursor: pointer;
   transition: background-color 0.3s;
}

/* Footer */
footer {
   padding: 1rem;
   text-align: center;
   font-weight: bold;
}

/* Responsivness */

@media (max-width: 1249px) {
   .card-grid {
      grid-template-columns: 1fr 1fr;
   }

}

@media (max-width: 649px) {
   .card-grid {
      grid-template-columns: 1fr;
   }
}